.navbar-hidden {
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .navbar {
    height: 100px;
    background-color: #384033;
    position: fixed;
    width: 100%;
    transition: 0.3s ease-in-out;
  }

  .nav-items {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }

  .menu-profile-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .profile {
    display: flex;
    margin-left: 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .name-signout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-name {
    font-size: 1.4em;
    color: white;
  }

  .sign-out {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
  }

  .sign-out:hover {
    color: #b7ce63;
  }

  .profile-img {
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 100%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style: none;
  }

  .link {
    text-decoration: none;
    font-size: 1.6em;
    color: white;
    font-weight: 300;
  }

  .link:hover {
    color: #b7ce63;
  }

  .nav-logo {
    width: 200px;
  }

  .hamburger-menu {
    display: none;
  }

  .link > p {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.8em;
    font-weight: 500;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    font-size: 0.5em;
    top: -1.5em;
    pointer-events: none;
  }

  .mobile-cart {
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar {
    height: 80px;
    background-color: #384033;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 0.3s ease-in-out;
  }

  .nav-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    list-style: none;
    line-height: 2em;
  }

  .link {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-weight: 300;
  }

  .menu-profile-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .profile {
    display: flex;
    margin-left: 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .name-signout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-name {
    font-size: 1.2em;
    color: white;
  }

  .sign-out {
    text-decoration: none;
    color: white;
    font-size: 0.6em;
  }

  .sign-out:hover {
    color: #b7ce63;
  }

  .profile-img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
  }

  .link:hover {
    color: #b7ce63;
  }

  .nav-logo {
    width: 150px;
  }

  .hamburger-menu {
    display: none;
  }

  .link > p {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.5em;
    font-weight: 500;
    width: 1.6em;
    height: 1.6em;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    font-size: 0.5em;
    top: -1.5em;
    pointer-events: none;
  }

  .mobile-cart {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar {
    height: 80px;
    background-color: #384033;
    transition: 0.3s ease-in-out;
  }

  .nav-links {
    display: none;
  }

  .nav-items {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }

  .menu-profile-wrapper {
    display: none;
  }

  .nav-logo {
    width: 100px;
  }

  .hamburger-menu {
    display: flex;
    width: 1.5em;
    fill: white;
    cursor: pointer;
  }

  .mobile-cart {
    display: inline-block;
    position: absolute;
    right: 15%;
  }

  .link > p {
    line-height: 1.8em;
    font-weight: 500;
    width: 2em;
    height: 2em;
    font-size: 0.5em;
    top: -2em;
  }
}
