.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px;
  margin: 7px 0;
  border: 2px solid #cacaca;
  border-radius: 5px;
  outline: none;
  font-size: 1.2em;
  font-weight: 400;
}

input:focus {
  border-bottom-width: 3px;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ .error-message {
  display: block;
}

.error-message {
  font-size: 0.8em;
  font-weight: 500;
  color: red;
  display: none;
}
